* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    padding: 0 121px;
}
.logo{
    margin-top: 37px;
    margin-bottom: 85px;
}
.info{
    display: flex;
    gap: 161px;
    margin-bottom: 76px;
}
.title,.subtitle{
    font-family: "TT Hoves";
    display: block;
    font-size: 21px;
}
.subtitle{
    font-weight: 700;
}
h1{
    font-size: 80px;
    margin-bottom: 40px;
    font-family: 'Chava', sans-serif;
                                                
}
.info_text{
    font-weight: 300px;
    font-size: 27px;
    max-width: 930px;
    margin-bottom: 20px;
}
.primary{
    width: 328px;
    border-radius: 12px;
    padding: 20px 0;
    border: 1px solid black;
    background-color: #6E3ABA;
    color:white;
    margin-right: 30px;
}
.secondary {
    width: 328px;
    border-radius: 12px;
    padding: 20px 0;
    border: 1px solid black;
    background-color: white;
    color:#6E3ABA;
}
.info_wrapper{
    background-image: url(./html_css_js\ 1\ \(1\).png);
    background-position: right 58px top 121px;
    background-repeat: no-repeat;
    background-size: 30vw ;
}
.timer{
    background-color: #6E3ABA;
    margin-top: 160px;
    padding-top: 80px;
    padding-left: 164px;

}
.discount{
    font-family: 'TT Hoves Pro Trial';
    color:white;
font-size: 52px;
font-weight: 700;
line-height: 61.26px;
letter-spacing: 0.03em;
text-align: center;

}
.timer_cards{
    margin-top: 57px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}
.cards{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 251px;
}
.hours{
    font-family: 'Chava';
font-size: 174px;
line-height: 187.05px;

}
.date{
    font-family: 'TT Hoves';
font-size: 27px;
font-weight: 500;
line-height: 31.81px;
text-align: center;

}
.white{
    font-family: 'TT Hoves';
font-size: 18px;
font-weight: 500;
line-height: 21.2px;
text-align: center;
width:  328px;
height: 61px;
top: 474px;
left: 505px;
padding: 20px 0px 20px 0px;
gap: 10px;
border-radius: 12px;
opacity: 0px;
align-content: center;
margin-left: 380px;
margin-top: 57px;
margin-right: 447px;
margin-bottom: 88px;


}

.courseProgram {
    border: 2px solid black;
    padding: 80px 64px 35px;
    position: relative;
}

#corner.svg {
    width: 50px;
    position: absolute;
    top: -2px;
    right: -2px;
}

h1 {
    font-size: 58px;
    font-weight: 500;
    line-height: 117%;
    text-transform: uppercase;

}

.lesson {
    list-style-type: none;
    margin: 40px 0  34px;
    font-size: 21px;
    line-height: 140%;

}

.lesson li {
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 24px;
    margin-top: 24px;
}

.desktop {
    display: block;
    margin: 0 auto;

}

.phone {
    display: none;
    margin: 30px auto 0;

}

@media (max-width: 700px) {
    .desktop {
        display: none;
    }

    .phone {
        display: block;
    }
    .legend_cards{
        grid-template-areas: "smile keyboard" " champion case"
    }
}
.second {
    margin-top: 100px;
}
.corner {
    width: 30px;
    height: 30px;
}

.main{
    background-image: url(./html_css_js\ 1.png);
    background-position: right 58px top 121px;
    background-repeat: no-repeat;
    background-size: 30vw ;
}


.mainpic{
    margin-top: calc(6.2vw + 15.4px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(6.2vw + 15.4px)

    
    
}

.mainpic div{

    width: calc(25.08vw + 228.9px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


h1{
    font-size: calc(2.7vw + 23.2px) ;

}


.text{
    font-size: calc(1.01vw + 13.9px);
}


.mainpic div img{
    
    width: calc(12.09vw + 132.24px);

}

.input{
    font-size: calc(1.01vw + 13.9px);

}

.legend_img{
    flex-basis: 399px;
    flex-shrink: 1;
}
.legend_info{
    flex-grow: 100;
    flex-basis: 566px;
}
.teacher_info h4{
    font-size: calc(1.1vw + 34px);
    line-height: 121%;
    margin-bottom: calc(1.1vw + 5.8px);
}
.teacher_info p{
    font-size: clac(1vw +14.2px);
    margin-bottom: calc(5.5vw + 19.2px);
}
.legend_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "smile cup" "case keyboard";
    gap: calc(1.1vw + 26px) calc(8.8vw - 23px);
}
.smile{
    width: 30px;
}
.cup{
    width: 30px;
}
.case{
    width: 30px;
}
.keyboard{
    width: 30px;
}
.container{
    display: flex;
    align-items:flex-start;
}
.image{
    max-width: 100%;
    height: auto;
}
.content{
    margin-left: 20px;
}
h2{
    font-family: 'TT Hoves'
    font-size: 58px;
    font-weight: 500;
    line-height: 68.32px;
    margin-bottom: 10px;
}
p{
    font-size: 16px;
}
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.education{
    width: 400px;
}
.employment{
    width: 400px;
}
.practice{
    width: 400px;
}
.result{
    width: 400px
}
.sallery{
        margin: 20px; 
        margin-top: 10px; 
        margin-right: 15px; 
        margin-bottom: 20px; 
        margin-left: 5px; 
}
.computer{
        margin: 20px; 
        margin-top: 10px; 
        margin-right: 15px; 
        margin-bottom: 20px; 
        margin-left: 5px;

}
.partnership{
        margin: 20px; 
        margin-top: 10px; 
        margin-right: 15px; 
        margin-bottom: 20px; 
        margin-left: 5px;

}
h2{
    font-size: 80px;
    margin-bottom: 40px;
    font-family: 'TT Hoves';
    margin-top: 10p;
}
.job_info{
    margin-top: 100px;
}
.diploma{
    margin-top: 100px;
}






.card{
    display: flex;
    flex-direction: column;
}
.card span{
    display: block;
    font-size: calc(0.6vw + 14px);
    width: calc(10.4vw + 117.5px);
}
.card:first-child{
    grid-area: smile;
}
.card:nth-of-type(2){
    grid-area: Champion;
}
.card:nth-of-type(3){
    grid-area: case;
}
.card:nth-of-type(4){
    grid-area: keyboard;
}
.job_salary p{
    font-size: calc(1vw + 14.2px);
    width: clac(60.6vw + 101px);
    margin-bottom: clac(1.8vw + 13.3px);
}
.job_salary img{
    width: calc(82.3vw + 14.2px);
}
.job_salary span{
    font-weight: bold;
} 

.feedback_card{
    background-color:rgba(240, 247, 253, 1);
    border-radius: 12px;
    padding: 56px 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
.feedback_text{
    margin-bottom: 10px;
}
}
.youtube {
    margin-top: 12px;
}
.feedback_card{
    margin: 0;
}
.user_info{
    display: flex;
    gap: 16px;
    align-items: center;
}
.user_img h5{
    width: 169px;
    font-size: 21px;
    font-weight: 400;
}
.user_img img{
    border-radius: 50%;
}